body { 
  background: url("../img/road_new.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.spacing{
    height: 10px;
}

.nav li{
    display: inline;
}

.nav a{
    padding: 8px 10px;
    color: #5a5a5a;
    font-weight: bold;
    font-size: 20px;
    background-color: #D1D1D1;
    border-radius: 10px;
}

.topic{
    min-height: 100%;
    color: #EDEDED;
    text-align: center;
}

.topic h1{
    padding-top: 200px;
    padding-right: 550px;
}
.topic p{
    padding-right: 550px;
}